<header>
    <div class="logo">
      <a href="/">MyShop</a>
    </div>
    <nav class="navbar">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Categories</a></li>
        <li><a href="#">Deals</a></li>
        <li><a href="#">Contact</a></li>
        <li *ngIf="!isLoggedIn"><a routerLink="/login" class="login-button">Login</a></li>
        <li *ngIf="isLoggedIn"><a (click)="logout()" class="login-button">Logout</a></li>
      </ul>
    </nav>
    <div class="search-cart-profile">
      <input type="text" placeholder="Search products">
      <a routerLink="/carts" class="cart">Cart</a>
      <a href="#" class="profile">Profile</a>
    </div>
  </header>
  