header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
  }
  .login-button {
    padding: 8px 15px;
    background-color: #ff6f00;
    color: white;
    border-radius: 4px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  /* Add hover effect to the Login button */
  .login-button:hover {
    background-color: #e65c00;
  }
  
  
  .logo a {
    font-size: 24px;
    text-decoration: none;
    color: #ff6f00;
  }
  
  .navbar ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar ul li {
    margin-right: 20px;
  }
  
  .navbar ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
  }
  
  .search-cart-profile {
    display: flex;
    align-items: center;
  }
  
  .search-cart-profile input {
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .cart, .profile {
    margin-right: 10px;
    text-decoration: none;
    color: #ff6f00;
    font-size: 18px;
  }
  
  @media (max-width: 768px) {
    header {
      flex-direction: column;
    }
  
    .navbar ul {
      flex-direction: column;
    }
  
    .search-cart-profile {
      flex-direction: column;
    }
  }
  